.homepage-header {
  height: 550px;
  width: 100%;
  background-color: #FFD662FF;
  background-image: url("../images/cartographer.png");
padding-top: 150px;
}

#profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-name {
  display: flex;
  justify-content: center;
  align-items: center; 
}

@media (min-width: 768px){
.homepage-header{
  width: 30%;
  height: 450px;
 padding: 50px;
  margin: 150px 50px;
}
 }