.counter {
  font-family: 'bungee', sans-serif;
}

.tweet-btn {
  background-color: #4056A1;
  font-family: 'bungee', sans-serif;
color: #FFFFFF;
border: none;
padding: 5px 10px;
}

#tweet-text {
  border: transparent;
  background-color: transparent;
  border-bottom: 5px solid #545149;
  width: 70vw;
  font-weight: 600;
  padding-bottom: .5em;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.submit-counter {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}